<nav class="navbar navbar-dark navbar-expand-lg p-3">
<div class="container">
<a class="navbar-brand fw-bold">MLM INDIA</a>

<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="menu">
<ul class="navbar-nav ms-auto text-center">
<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link">Plan</a></li>
<li class="nav-item"><a class="nav-link">Products</a></li>
</ul>

<button class="btn btn-warning ms-3">Join Now</button>
</div>
</div>
</nav>
